<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Testpage</title>    
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.css">
    <script src="/static/bootstrap/js/jquery.js"></script>
    <script src="/static/bootstrap/js/bootstrap-transition.js"></script>
    <script src="/static/bootstrap/js/bootstrap-alert.js"></script>
    <script src="/static/bootstrap/js/bootstrap-modal.js"></script>
    <script src="/static/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="/static/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="/static/bootstrap/js/bootstrap-tab.js"></script>
    <script src="/static/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="/static/bootstrap/js/bootstrap-popover.js"></script>
    <script src="/static/bootstrap/js/bootstrap-button.js"></script>
    <script src="/static/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="/static/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="/static/bootstrap/js/bootstrap-typeahead.js"></script>
  </head>
  <body>
    <center>
        <br/>
        <div class="navbar" style="width: 90%;">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">
                      {{var}}
                    </a>
                    <ul class="nav">
                      <li class="active">
                        <a href="#">Home</a>
                      </li>
                      <li><a href="#">Link</a></li>
                      <li><a href="#">Link</a></li>
                    </ul>
                    <form class="navbar-search">
                        <input type="text" class="search-query span3" placeholder="Search">
                    </form>
                </div>
            </div>
        </div>
    </center>
  </body>
</html>